body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 40px;
  text-transform: capitalize;
  text-align: center;
}
.orange-color {
  color: orange;
}
h3 {
  text-transform: capitalize;
}
p {
  text-align: justify;
  text-transform: capitalize;
}
section {
  display: flex;
  margin-bottom: 150px;
}
#model:hover {
  color: red;
}
.half-width {
  width: 50%;
  margin-left: 10px;
}
.half-width img {
  width: 60%;
  padding-left: 200px;
}
#only-top-image {
  margin-top: 30px;
}
.top-banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.link-button {
  text-decoration: none;
  background: linear-gradient(orange, tomato);
  padding: 10px 10px;
  color: white;
  font-weight: 700;
  border-radius: 5px;
}

.bottom-banner {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.image-div {
  width: 50%;
}
.image-div img {
  width: 70%;
}
.dream-big {
  width: 60%;
}
.experience-item {
  box-shadow: 10px 10px 40px rgb(34, 18, 18);
  margin: 40px;
  width: 50%;
  padding-bottom: 60px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-left: 3px solid red;
}
#baby {
  border-image: linear-gradient(red, blue) 27 /5px;
  background-color: rgb(30, 201, 39);
}

footer p {
  text-align: center;
  background-color: yellowgreen;
  padding-top: 5px;
  padding-right: 5px;
}
#full {
  background-color: rgb(55, 0, 255);
  border-image: linear-gradient(rgb(179, 255, 0), rgb(0, 255, 42)) 27 /5px;
}
.design {
  border: 5px dotted red;
  background-color: yellow;
  border-radius: 40px;
  margin-left: 500px;
  margin-right: 500px;
  padding-top: 4px;
  padding-bottom: 4px;
}
